<div class="container">
  <div class="row">
    <div class="col-md-5 login-box">
      <div class="panel panel-default">
        <div class="panel-intro text-center">
          <h2>
            <span class="text-primary"><%= resource_name.to_s.humanize %></span><span class="text-light"> Login</span>
          </h2>
        </div>

        <%= render 'form'  %>
      </div>
    </div>
  </div>
</div>
