.modal-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
}
